@CHARSET "UTF-8";
.themap {
    width: 500px;
    height: 512px;
    border: 1px solid #ccc;
    float:left;
    display:block;
    background-color:white
}
#mapbutton {
    float:none;
    cursor:pointer;
}
#mappanel {
    -moz-border-radius:6px 6px 6px 6px;
    background:none repeat scroll 0 0 #DDDDDD;
    border:1px solid #888888;
    height:auto;
    margin:5px 0;
    padding:4px;
    width:auto;
}
#mappanel div {
    cursor: pointer;
}
.olControlEditingToolbar .olNewLayerItemInactive {
    background-image:
    url("http://openparachute.files.wordpress.com/2007/06/feed-icon-24x24.png?w=24")
;
    background-repeat: no-repeat;
    margin-right: 30px;
}
.hand-icon {
    background-image: url(img/panning-hand-off.png) 0 6px no-repeat !important;
     
}
.ruler-icon {
    background-image: url(img/measuring-stick-off.png) 0 6px no-repeat !important;
     
}
.area-icon {
    background-image: url(img/marker.png) 0 6px no-repeat !important;
     
}