<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : phpunit.xml
    Created on : August 25, 2010, 9:07 AM
    Author     : wsg4w
    Description:
        Purpose of the document follows.
-->

<phpunit bootstrap="../../../application/tests/bootstrap.php"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuite name="NeatlineMaps Tests">
        <file>AllTests.php</file>
    </testsuite>
</phpunit>

